# Student Loan Risk with Deep Learning

In [38]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [39]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [40]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [41]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [42]:
# Define the target set y using the credit_ranking column
y=loans_df['credit_ranking']

# Display a sample of y
y

0       0
1       0
2       0
3       1
4       0
       ..
1594    0
1595    1
1596    1
1597    0
1598    1
Name: credit_ranking, Length: 1599, dtype: int64

In [43]:
# Define features set X by selecting all columns but credit_ranking
X=loans_df.copy()
X.drop("credit_ranking", axis=1,inplace=True)

# Review the features DataFrame
X

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4
...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0

### Step 3: Split the features and target sets into training and testing datasets.

In [44]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [45]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [46]:
# Define the the number of inputs (features) to the model
input_nodes = len(X.columns)


# Review the number of features
input_nodes

11

In [47]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 = 6


# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = 3


# Define the number of neurons in the output layer
output_nodes = 1

In [48]:
# Create the Sequential model instance
nn = tf.keras.models.Sequential()


# Add the first hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=input_nodes, activation="relu")
)

# Add the second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(tf.keras.layers.Dense(units=output_nodes, activation="sigmoid"))

In [49]:
# Display the Sequential model summary
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 6)                 72

 dense_7 (Dense)             (None, 3)                 21

 dense_8 (Dense)             (None, 1)                 4

=================================================================
Total params: 97 (388.00 Byte)
Trainable params: 97 (388.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [50]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [51]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50

38/38 [==============================] - 1s 1ms/step - loss: 0.7702 - accuracy: 0.4646
Epoch 2/50
38/38 [==============================] - 0s 936us/step - loss: 0.7244 - accuracy: 0.4937
Epoch 3/50
38/38 [==============================] - 0s 976us/step - loss: 0.6997 - accuracy: 0.5254
Epoch 4/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6826 - accuracy: 0.5746
Epoch 5/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6701 - accuracy: 0.6188
Epoch 6/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6595 - accuracy: 0.6472
Epoch 7/50
38/38 [==============================] - 0s 1ms/step - loss: 0.6502 - accuracy: 0.6722
Epoch 8/50
38/38 [==============================] - 0s 985us/step - loss: 0.6417 - accuracy: 0.6789
Epoch 9/50
38/38 [==============================] - 0s 973us/step - loss: 0.6329 - accuracy: 0.6872
Epoch 10/50
38/38 [==============================] - 0s 971us/step - loss: 0.6244 - accuracy: 0.7039
Epoch 11/50
38/38 [==============================] - 0s 939us/step - loss: 0.6166 - accuracy: 0.7173
Epoch 12/50
38/38 [==============================] - 0s 893us/step - loss: 0.6098 - accuracy: 0.7298
Epoch 13/50
38/38 [==============================] - 0s 930us/step - loss: 0.6037 - accuracy: 0.7398
Epoch 14/50
38/38 [==============================] - 0s 993us/step - loss: 0.5988 - accuracy: 0.7423
Epoch 15/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5942 - accuracy: 0.7448
Epoch 16/50
38/38 [==============================] - 0s 968us/step - loss: 0.5905 - accuracy: 0.7431
Epoch 17/50
38/38 [==============================] - 0s 932us/step - loss: 0.5866 - accuracy: 0.7523
Epoch 18/50
38/38 [==============================] - 0s 986us/step - loss: 0.5833 - accuracy: 0.7465
Epoch 19/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5802 - accuracy: 0.7481
Epoch 20/50
38/38 [==============================] - 0s 986us/step - loss: 0.5774 - accuracy: 0.7448
Epoch 21/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5747 - accuracy: 0.7465
Epoch 22/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5722 - accuracy: 0.7448
Epoch 23/50
38/38 [==============================] - 0s 967us/step - loss: 0.5700 - accuracy: 0.7456
Epoch 24/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5677 - accuracy: 0.7456
Epoch 25/50
38/38 [==============================] - 0s 983us/step - loss: 0.5658 - accuracy: 0.7481
Epoch 26/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5639 - accuracy: 0.7498
Epoch 27/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5622 - accuracy: 0.7473
Epoch 28/50
38/38 [==============================] - 0s 924us/step - loss: 0.5604 - accuracy: 0.7490
Epoch 29/50
38/38 [==============================] - 0s 988us/step - loss: 0.5589 - accuracy: 0.7506
Epoch 30/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5577 - accuracy: 0.7523
Epoch 31/50
38/38 [==============================] - 0s 910us/step - loss: 0.5564 - accuracy: 0.7481
Epoch 32/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5552 - accuracy: 0.7506
Epoch 33/50
38/38 [==============================] - 0s 965us/step - loss: 0.5539 - accuracy: 0.7490
Epoch 34/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5525 - accuracy: 0.7506
Epoch 35/50
38/38 [==============================] - 0s 936us/step - loss: 0.5518 - accuracy: 0.7498
Epoch 36/50
38/38 [==============================] - 0s 870us/step - loss: 0.5508 - accuracy: 0.7456
Epoch 37/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5497 - accuracy: 0.7498
Epoch 38/50
38/38 [==============================] - 0s 884us/step - loss: 0.5491 - accuracy: 0.7498
Epoch 39/50
38/38 [==============================] - 0s 984us/step - loss: 0.5482 - accuracy: 0.7473
Epoch 40/50
38/38 [==============================] - 0s 869us/step - loss: 0.5468 - accuracy: 0.7481
Epoch 41/50
38/38 [==============================] - 0s 844us/step - loss: 0.5459 - accuracy: 0.7490
Epoch 42/50
38/38 [==============================] - 0s 949us/step - loss: 0.5451 - accuracy: 0.7498
Epoch 43/50
38/38 [==============================] - 0s 956us/step - loss: 0.5442 - accuracy: 0.7481
Epoch 44/50
38/38 [==============================] - 0s 844us/step - loss: 0.5434 - accuracy: 0.7465
Epoch 45/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5424 - accuracy: 0.7490
Epoch 46/50
38/38 [==============================] - 0s 938us/step - loss: 0.5414 - accuracy: 0.7515
Epoch 47/50
38/38 [==============================] - 0s 871us/step - loss: 0.5407 - accuracy: 0.7481
Epoch 48/50
38/38 [==============================] - 0s 840us/step - loss: 0.5400 - accuracy: 0.7490
Epoch 49/50
38/38 [==============================] - 0s 1ms/step - loss: 0.5392 - accuracy: 0.7490
Epoch 50/50
38/38 [==============================] - 0s 888us/step - loss: 0.5386 - accuracy: 0.7490

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [52]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.5397 - accuracy: 0.7400 - 98ms/epoch - 8ms/step
Loss: 0.5396680235862732, Accuracy: 0.7400000095367432

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [53]:
# Set the model's file path
file_path = Path("student_loans.keras")


# Export your model to a keras file
nn.save(file_path)

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [54]:
# Set the model's file path
file_path = Path("student_loans.keras")


# Load the model to a new object
nn_imported = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [55]:
# Make predictions with the test data
predictions = nn_imported.predict(X_test_scaled)


# Display a sample of the predictions
print(predictions[:5])

13/13 [==============================] - 0s 732us/step
[[0.5981928 ]
 [0.41836476]
 [0.73283094]
 [0.67117643]
 [0.73283094]]

In [56]:
# Save the predictions to a DataFrame and round the predictions to binary results
predictions_binary = (predictions > 0.5).astype(float)
df_predictions = pd.DataFrame(predictions_binary, columns=['predictions'])

df_predictions

     predictions
0            1.0
1            0.0
2            1.0
3            1.0
4            1.0
..           ...
395          1.0
396          0.0
397          1.0
398          0.0
399          1.0

[400 rows x 1 columns]

### Step 4: Display a classification report with the y test data and predictions

In [57]:
# Print the classification report with the y test data and predictions
print(classification_report(y_test, df_predictions))

              precision    recall  f1-score   support

           0       0.72      0.72      0.72       188
           1       0.75      0.75      0.75       212

    accuracy                           0.74       400
   macro avg       0.74      0.74      0.74       400
weighted avg       0.74      0.74      0.74       400

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**
In crafting a recommendation system for student loan options, we'd need to gather a mix of key data. First up, we'd want to know some personal deets like age, location, and whether you've got any dependents. This helps us tailor the loan options to fit the students' specific situation. Next, we'd dive into their academic background, like GPA and what the student is studying. That gives us a sense of their potential to finish school and land a job that pays well enough to handle the loan down the road. Then, we'd peek into the students financial world, checking out income, job status, credit history, and any existing debt they are juggling. This helps us figure out if you're in a good spot to take on more borrowing. Lastly, understanding the students loan preferences and financial goals is key to recommending options that match what you're looking for. And of course, we'll keep our eyes on the bigger economic picture to make sure our recommendations line up with what's happening out there. Gathering all this data helps us give advice that's both personalized and savvy, setting you up for success without the stress.

**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**

Based on the data selected for this recommendation system, a content-based filtering approach would be most appropriate. Content-based filtering relies on features of the items being recommended and the user's preferences. In this case, the data includes detailed information about students' academic performance (such as GPA and field of study), personal details (like age, location, and dependents), and financial status (including income and credit score). These features provide rich information that can be directly matched to specific loan options. For example, a student's GPA and field of study can help identify loan options tailored to their future earning potential, while personal details like age and location can inform loan eligibility criteria and regional economic factors. Collaborative filtering, which relies on user behavior and preferences, might be less suitable here as the focus is more on the characteristics of the loans and the students rather than on interactions among users. Context-based filtering, while relevant, may not be as directly applicable since it typically incorporates situational factors and external conditions, which could still be valuable but might not be as central to the recommendation process as the specific features of the loans and the students. Therefore, the rich feature set provided by the selected data makes content-based filtering the most suitable approach for this recommendation system.

**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**
In the process of constructing a recommendation system for student loans, we encounter critical real-world hurdles, particularly concerning data privacy and fairness. Safeguarding sensitive personal and financial data, such as income, credit scores, and academic records, is paramount, necessitating stringent privacy measures compliant with regulations like GDPR or CCPA. Concurrently, ensuring fairness in recommendations demands vigilance against biases rooted in socioeconomic status, race, or gender. Through the implementation of fairness-aware algorithms, rigorous audits, and diverse team representation, we aim to mitigate biases and uphold ethical standards, fostering trust among students by delivering personalized, unbiased loan recommendations while respecting their privacy rights.